<!doctype html>
<html ng-app="signin">
  <body ng-controller="sigincontroller">
    <div>Not a member yet?<input type="button">Sign up</input></div>
    <h1>Sign in</h1>
    <input type="text" id="uname" placeholder="Enter your username"></input>
    <input type="password" id="pwd" placeholder="Enter the password"></input>
    <input type="submit" value="login">Login</input>

  </body>
</html>
