<!doctype html >
<html>
<head>
    <script src="/javascripts/usertw.js"></script>
</head>
<body ng-app="user">
  <div ng-controller="userTweetsCtrl">
    <div id="nw">
      <div ng-show="tweets[0].username">
        <div ng-init="i=-1"></div>
      <div ng-repeat="tweet in tweets" ng-init="i=i+1">
        <div id="tw">
          <span class="">
            <img src={{dop[i].dp.thumb.url}}></img>
          </span>
          <span class="un"> {{tweet.username}} </span><span class="dt">{{tweet.created_at | date:'MMM dd'}} </span>
          <br>
          {{tweet.text}} <br>
          <!-- <div ng-show="imgnull(tweet)"> -->
            <!-- <img src={{tweet.image.url}}></img> -->
          <!-- </div> -->
        </div>
        <br>
        <br>
      </div>
    </div>
    <div ng-show="tweets.msg"> <h1>{{tweets.msg}}</h1></div>
    </div>
  </div>
</body>
