<h1>Tweets</h1>

<table id="display_table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Text</th>
      <th>Status</th>
      <th colspan="3">Filter tweets <br>
        <select ng-model="selectedFilter" ng-options = "item for item in filterValue" ng-change="applyFilter()">
            <option value="">Choose a value</option>
        </select>
        </th>
    </tr>
  </thead>

  <tbody ng-init="tweet_set=0">
      <tr ng-repeat="tweet in tweets" ng-init ="tweet_set=tweet_set+1">
        <td><a href="">{{tweet.username}}</a></td>
        <td>{{tweet.text}}</td>
        <td>{{tweet.status}}</td>
        <td>
          <select ng-change="setStatus(tweet,tweet_set)" ng-model="tweet_set"  ng-options = "item for item in statusValue">
            <option value="">Update the Status </option>
          </select>
        </td>
      </tr>
  </tbody>
</table>
</div>
<br>
