<html >
<head>
  <script src="/javascripts/tweetnew.js"></script>
</head>
<body >
<h1>Dashboard</h1>


<form enctype="multipart/form-data" action="/tweets" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="yjwni7sED1tnnDiZQISxzijJRAZ3/xkaWpbHCt+0aPQIBndeaKKDlL6nIN0YBhLm7Iby+kg8MwmTvx7aOY4neQ==" type="hidden">

  <div class="field">
    <input id="tweet_text" name="tweet[text]" type="text" placeholder="Tweet Something">
  </div>

  <div class="field">
    <label for="tweet_image" id="upl"> Upload Image</label><input id="tweet_image" name="tweet[image]" type="file">
  </div>

  <div class="actions">
    <input name="commit" value="Tweet" data-disable-with="Create Tweet" type="submit">
  </div>
</form>
<a href="/tweets">Back</a>

<h3>Tweets</h3>
<div>
    <div id="nw" ng-init="i=-1">
      <div ng-repeat="tweet in tweets" ng-init="i=i+1">
        <div id="tw">
          <span class="" ng-if="dop[i].dp.thumb.url">
            <img src={{dop[i].dp.thumb.url}}></img>
            <!-- <img src="fallback/thumb_default.jpeg"></img> -->
          </span>
          <span class="un"> {{tweet.username}} </span><span class="dt">{{tweet.created_at | date:'MMM dd'}} </span>
          <br>
          {{tweet.text}} <br>
          <div ng-if="imgnull(tweet)">
            <img src={{tweet.image.thumb.url}}></img>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</body>
