<html >
<head>
</head>
<body >
<h1>Dashboard</h1>


<form enctype="multipart/form-data" action="/tweets" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="pQtCv5bwUA8J8MEF1YPwu9TLZY3/eAAFmB2ypCz2++ZY0wpfTk1NBxjcz8v0gZSMHqLMXyvcpCwYKSEm78c3Vg==" type="hidden">

  <div class="field">
    <input id="tweet_text" name="tweet[text]" type="text" placeholder="Tweet Something">
  </div>

  <div class="field">
    <label for="tweet_image" id="upl"> Upload Image</label><input id="tweet_image" name="tweet[image]" type="file">
  </div>

  <div class="actions">
    <input name="commit" value="Tweet" data-disable-with="Create Tweet" type="submit">
  </div>
</form>
<a href="/tweets">Back</a>

<h3>Tweets</h3>
<div>
  <div ng-controller="mainCtrl">
    <div id="nw" ng-init="i=-1">
      <div ng-repeat="tweet in tweets" ng-init="i=i+1">
        <div id="tw">


          <span class="">
            <img src={{dop[i].dp.thumb.url}}></img>
          </span>
          <span class="un"> {{tweet.username}} </span><span class="dt">{{tweet.created_at | date:'MMM dd'}} </span>
          <br>
          {{tweet.text}} <br>
          <div ng-show="imgnull(tweet)">
            <img src={{tweet.image.thumb.url}}></img>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</body>
<script>
var id = window.sessionStorage.getItem("user_id")
var uname = window.sessionStorage.getItem("user_name")
var params=[
              {text : "Logout", location : "/users"},
              {text : uname , location : "/users/" + id +"/usertweets"}
           ]
var dropdownmenu = document.getElementById("myDropdown");
if(dropdownmenu.childNodes.length === 1)
{
  document.onload = addDropDownItem(dropdownmenu,params);
}
</script>
