#log{
  background-color: #0d0d0d;
  position:relative;
  left : 390px;
  top:100px;
  width:28%;
  border-radius: 10px;
  height: 280px;
}
#log2{
  padding:25px;
}
#loginbod{
  background-image: url('bg2.jpg');
  background-size: cover;
}
.logy{
  width:100%;
  height:40px;
  color:white;
  background-color: #00cca3;
  line-height: 1px;
  font-size: 20px;
  font-weight: bold;
}
.inp{
  color:white;
  background-color: #00001a;
  width: 100%;
  height:40px;
  padding-left:5px;
  border-width: 1px;
}
#log h1{
  position: relative;
  left:150px;
  color:white;
  padding-top: 10px;
}
#sup{
  float:right;
  color:white;
  background-color: black;
  border-color: black;
  font-size: 14px;
  position:relative;
  top:8px;
  border:none;
}
#sgn{
  float:right;
  color:white;
  position:relative;
  top:8px;
}
#p1{
  background-color: black;
  width:100%;
  height:40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html,body {
   margin: 0;
   padding: 0;
}
#nav{
  background-color: black;
  height:40px;
  width:1265px;
  margin:0;
  position:relative;
  top:-32px;
}
.field input{
  border:none;
  border-bottom: 2px solid gray;
}
#reg{
  padding-left: 25px;
  position:relative;
  left : 700px;
}
#reg label{
  font-size: 15px;
  line-height: 2.2;
}
#bgimage{
  background-image: url('bg3.jpg');
  background-size: cover;
  opacity: 0.8;
  height:600px;
  width:50%;
}
#bgimage p{
  z-index=2;
  font-size: 30px;
  line-height: 1.3;
  position: relative;
  left:105px;
  top:65px;
  color:black;
}
#reg .actions input{
  background-color: black;
  color:white;
  height: 35px;
  width:80px;
  border-radius: 5px;
  position: relative;
  top:10px;
}
#back{
  color:black;
  position: relative;
  top:-25px;
  left:840px;
}
#back:hover{
  background-color: white;
}
